# TinaCMS Configuração
# Obtenha os tokens em https://app.tina.io (plano gratuito)
NEXT_PUBLIC_TINA_CLIENT_ID=
TINA_TOKEN=

# Em desenvolvimento local, force o modo offline local sem necessidade de conta Tina Cloud
TINA_PUBLIC_IS_LOCAL=true
